*{
    padding: 0;
    margin: 0;
}


.navbar {
    background-color: #76c5ec;
}

main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
}

.left--sec{
    width: 70%;
    padding-top: 0.5%;
}

.right--sec{
    width: 20%;
    color: white;
    background-color: #626063;
    padding-top: 0.5%;
}