main {
    font-size: large;
    background-color: #8d3555;
    color: white;
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

table {
    width: 40%;
    background-color: #66263e;
    color: white;
}

th, td {
    padding: 10px;
}

input[type="submit"] {
    padding: 10px 0;
    width: 80%;
    font-size: large;
    font-weight: 700;
    background-color: white; 
    border: none;
    color: black;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 15px;
}